:root {
    --bg-color: #0B0F14;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    width: 100vw;
    background-color: var(--bg-color);
}